.faq {
  padding-top: 110px;
  &__accordion {
    margin: auto;
    margin-top: 49px;
    max-width: 765px;
  }
  &__accordion-block.active {
    box-shadow: inset 0px 0px 13px rgba(20, 29, 61, 0.08);
    border-radius: 10px;
  }
  &__accordion-title {
    background: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    padding: 20px 55px 23px 99px;
    cursor: pointer;
    transition: 0.5s ease;
    &::before {
      content: "";
      position: absolute;
      left: 33px;
      bottom: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 1px;
      background-color: #0d1c41;
      transition: 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      right: 55px;
      bottom: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 8px;
      background-image: url("../img/faq_down.png");
      transition: 0.3s ease;
    }
  }
  &__accordion-title.active {
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15),
      -2px -2px 5px rgba(20, 29, 61, 0.15);

    border-radius: 10px;
    &::before {
      background: none;
      transition: 0.3s ease;
    }
    &::after {
      background-image: url("../img/faq_up.png");
    }
  }
  &__accordion-content {
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    opacity: 0;
    position: relative;
    top: -80px;
    text-align: center;
    transition: 0.3s ease;
  }
  &__accordion-content.active {
    padding: 28px 80px 29px 99px;
    opacity: 1;
    top: 0;
  }
}
